<div class="movie-container">
  <div>
    <img src={{this.movie.image}} alt="{{this.movie.title}} poster" />
  </div>
  <div class="movie-text-container">
    <a href="/movies">Go back</a>
    <h1>{{this.movie.title}}</h1>
    <h3>{{this.movie.director}}</h3>
    <h4>Stars</h4>
    <ul>
      {{#each this.movie.stars}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore earum,
      possimus illum recusandae ut totam aut nostrum et quas. Doloremque!</p>
    <p>{{#each this.movie.showtimes}}
        {{this}} |
      {{/each}}</p>
  </div>
</div>